<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Hey <%= @user.name %>!</h1>
  <p> Welcome to the Sheek Clothing Newsletter! </p>
  <p> This is where you'll get your daily dose content from Sheek!</p>
  <br/>
  </body>
</html>